<app-menu></app-menu>
<span>
    <a class="new" routerLink='/product/create'><img width='20' height='20' src='assets/add-icon.png' title='Add New'
    style="float: right">
</a><label style="float: right">Add New</label>
</span>
<h2 id="title" class="component-title">{{title}}</h2>

<table *ngIf='products' class="table table-hover table-responsive-sm">
    <thead class="thead-light">
        <tr>
            <th><a (click)="sort('id')">Id</a></th>
            <th><a (click)="sort('partNumber')">Part Number</a></th>
            <th><a (click)="sort('name')">Name</a></th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of products | sort:sortColumn:ascOrder'>
            <td>{{product.id}}</td>
            <td>{{product.partNumber}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <a routerLink='/product/detail/{{product.id}}'><img src='assets/details.png' width='20' height='20'
                        title='Detail'></a>
                |
                <a routerLink='/product/edit/{{product.id}}'><img src='assets/pencil-icon.png' width='20' height='20'
                        title='Edit'></a>
            </td>
        </tr>
    </tbody>
</table>