<app-menu></app-menu>
<div class="component" *ngIf="request">
    <section class="heading">
        <span class="page-title font-weight-bold">{{title1}}</span>
        <span> | <a routerLink="/request/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table id="requestTable" class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Request Id</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{request.id}}</td>
                    <td>{{request.description}}</td>
                    <td>{{request.status}}</td>
                    <td>{{request.total}}</td>
                </tr>
            </tbody>
        </table>
        <div class="component" *ngIf='lineItems'>
            <section class="heading2" style="float: right">
                <span class="page-title font-weight-bold">{{title2}}</span> |
                <span> <a routerLink='/line/item/create/{{request.id}}'><img width='20' height='20'
                            src='assets/add-icon.png' title='Add New'></a></span>
                <!-- <p *ngIf='!lineItems'>No current items. Please add line items to this request.</p> -->
            </section>
            <main class="single">
                <table *ngIf='lineItems' class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Line Item Id</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Line Item Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let lineItem of lineItems | sort:sortColumn:ascOrder'>
                            <td>{{lineItem.id}}</td>
                            <td>{{lineItem.product.name}}</td>
                            <td>{{lineItem.quantity}}</td>
                            <td>{{lineItem.product.price | currency}}</td>
                            <td>{{lineItem.quantity * lineItem.product.price | currency}}</td>
                            <td>
                                <a routerLink='/line/item/edit/{{lineItem.id}}'><img src='assets/pencil-icon.png'
                                        width='20' height='20' title='Edit'></a> |
                                <a routerLink='/line/item/delete/{{lineItem.id}}'><img src='assets/delete.jpg'
                                        width='20' height='20' title='Delete'></a>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span id="buttons">
                    <span><button (click)="submit()" class="btn btn-sm btn-primary">{{submitTitle}}</button></span>
                </span>
            </main>
        </div>
    </main>
</div>